<!DOCTYPE html>
<html lang="en">


<head>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>For patient</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">BLOOD MANAGEMENT</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/information">About us</a></li>
          <li><a href="/bloodBank">Blood bank contact information</a></li>
          <li><a href="/donerINFO">doner info</a></li>
          <li><a href="/">LIST</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

          <h3  style="text-align:left" >This page is for patients</h3>
          <div style="text-align:left; font-size:17px;" >Fill your information.</div>

    </div>
   <form action = "/patient " method = "post">

      <p style=" font-size:17px;">Enter Name:</p>
      <p><input type = "text" name = "nm" /></p>

      <p style="font-size:17px;" >Enter Contact Information:</p> 
      <p><input type = "text" name = "contact" /></p>

      <p style="font-size:17px;" >Blood Type in need : </p> 
      <p><input type = "text" name = "contact" /></p>


      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>

      <div class="form-group col-md-6">
        <label for="inputState">State</label>
        <select style="border: 1px solid rgb(0, 0, 0);" id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
          <option value="1">Maharashtra</option>
          <option value="2">Karnataka</option>
          <option value="3">Gujarat</option>
          <option value="4">Uttar Pradesh</option>
        </select>
      </div>

      <p><input type = "submit" value = "submit" /></p>
      <h3 style="text-align:center" >Blood manegment system</h3>


   </form>  



</body>
</html>


